<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>湊あくあ100万人プロジェクト | Minato Aqua 1 Million project</title>
    <meta name="description" content="あくあちゃん,100万人おめでとう | Aqua-Chan, congrats on achieving 1 Million subscribers!!!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="湊あくあ100万人プロジェクト | Minato Aqua 1 Million project" />
    <meta property="og:description" content="あくあちゃん,100万人おめでとう | Aqua-Chan, congrats on achieving 1 Million subscribers!!!" />
    <meta property="og:image" content="https://raywarthog.github.io/aqua-1m/cover.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://raywarthog.github.io/aqua-birthday/">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Minato Aqua 1 Million project">
    <meta name="twitter:image" content="https://raywarthog.github.io/aqua-1m/cover.png">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kosugi+Maru&family=Patrick+Hand&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {{!-- <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.css"
        integrity="sha512-FHwwMXxhAWjVhJyEgmmPg/aJ3BRmsOavHBV6yMK55Mz0rycBZcRmSowqij+ncd/JPtOzmUMZx7ZIRnGyqIE/1A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/index.css">

<body>
    <div id="bg-container">
        <div id="bg">
            <div id="bg-inner-box"></div>
        </div>
    </div>
    <canvas id="my-canvas"></canvas>
    <div id="content">
        <section id="welcome-msg">
            <p lang="ja" data-aos="fade-down">Aqua-Chan, congrats on achieving 1 Million subscribers!!!</p>
            <p lang="ja" data-aos="fade-down">あくあちゃん,100万人おめでとう！</p>
            <div id="scroll-arrow-hint">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <section id="birthday-msgs">
            <div class="sect-title" data-aos="fade-up">
                <h1>Messages</h1>
                <h3 lang="ja">手紙</h3>
                <div class="sect-title-deco"></div>
            </div>
            <div class="card-columns">
                {{#each messages}}
                <div class="birthday-msg-card-container" data-aos="fade-up">
                    <div class="birthday-msg-card card">
                        <div class="msg-deco"></div>
                        <div class="sender-details">
                            <div class="sender-name-container">
                                <span class="sender-name">{{username}}</span>
                                {{#with twitter}}
                                <span class="twitter-name text-muted">@{{this}}</span>
                                {{/with}}
                            </div>
                            <div>
                                {{#if country_code}}
                                <span class="flag-icon flag-icon-{{country_code}}" title="{{country_name}}"
                                    alt="{{country_name}}"></span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="birthday-msg">
                            <blockquote class="blockquote mb-0" {{#if isMsgInJP}}lang="ja" {{/if}}>
                                <!-- htmlmin:ignore -->
                                <p>{{message}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{#if message_jp}}
                            <hr>
                            <blockquote class="blockquote mb-0" lang="ja">
                                <!-- htmlmin:ignore -->
                                <p>{{message_jp}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>

        <section id="artbook">
            <div class="sect-title" data-aos="fade-up">
                <h1>Art</h1>
                <div class="sect-title-deco"></div>
            </div>
            <div id="artbook-gallery">
                <a href="artbook/aqua.jpg" data-aos="fade-up">
                    <img class="artbook-page" srcset="artbook/thumbnail_small/aqua_t.jpg 150w, artbook/thumbnail/aqua_t.jpg 500w" sizes="(max-width: 700px) 150px, 500px" src="artbook/thumbnail/aqua_t.jpg" alt="" title="" />
                </a>
                <a href="artbook/aqua_2.png" data-aos="fade-up">
                    <img class="artbook-page" srcset="artbook/thumbnail_small/aqua_2_t.jpg 150w, artbook/thumbnail/aqua_2_t.jpg 500w" sizes="(max-width: 700px) 150px, 500px" src="artbook/thumbnail/aqua_2_t.jpg" alt="" title="" />
                </a>
            </div>
        </section>

        <section id="cover-video">
            <div class="sect-title" data-aos="fade-up">
                <h1>Videos</h1>
                <div class="sect-title-deco"></div>
            </div>
            <div class="cover-video-container" data-aos="fade-up">
                <div class="video-container">
                    <iframe title="" src="https://www.youtube-nocookie.com/embed/rFuyq-0D5l8"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="cover-video-container" data-aos="fade-up">
                <div class="video-container">
                    <iframe title="" src="https://www.youtube-nocookie.com/embed/IFLqOEw1mfc"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <div class="placeholder">

        </div>

        <footer id="credits">
            <div class="credits-section">
                <h4>Project Organizer</h4>
                <p>Suifer @RushiferSuifer</p>
            </div>
            <div class="credits-section">
                <h4>Translator</h4>
                <p>寝込みくり @nekondeimasu</p>
                <p>Just Sam @SJK9123</p>
            </div>
            <div class="credits-section">
                <h4>Proofreader</h4>
                <p>Rakuen @PrimeRakuen</p>
            </div>
            <div class="credits-section">
                <h4>Website</h4>
                <p>Warthog @Warthog455</p>
            </div>
            <div class="credits-section">
                <h4>Art</h4>
                <p>Niggy @Niggy138</p>
                <p>ReSV1 @LionelKoh94</p>
                <p>Ezurascarlet @EruzaScarlet1</p>
            </div>
            <div class="credits-section">
                <h4>Editor</h4>
                <p>Nanami @NekaNanae</p>
            </div>
            <div class="credits-section">
                <h4>MMD Music</h4>
                <p>DigiCak3 @Digicak3</p>
            </div>
            <div class="credits-section">
                <h4>MMD</h4>
                <p>Kyurosu @Kyurosuuuu</p>
            </div>
            <div class="credits-section">
                <h4>Others</h4>
                <p>Anonymous</p>
            </div>
        </footer>

    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js"
        integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg=="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js" integrity="sha256-p6aQfSnK5puy5yn9xCIyBjJKv5FFMhVoHvJqT7ZGdZU=" crossorigin="anonymous"></script>
    <script src="dist/index.js"></script>
</body>

</html>